<body class="index-body">
<h1 class="index-title">ようこそ　<storng>Bookers</storng>へ！</h1>
<div class="naiyou">
<p class="index-tex"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>

<p class="index-text">印象を共有し交換することができます</p>

<p><a class ='link1'href ='/books/new'>start</a></p>
</div>
</body>